* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#users .is-active {
  font-weight: bold;
}

.game {
  width: 100%;
  height: 400px;
  background-color: gray;
}

.game .game-state {
  display: none;
}

.game.NOT_STARTED .game-state.game-state-NOT_STARTED,
.game.THINKING .game-state.game-state-THINKING,
.game.GUESSING .game-state.game-state-GUESSING,
.game.ROUND_FINISHED .game-state.game-state-ROUND_FINISHED,
.game.GAME_FINISHED .game-state.game-state-GAME_FINISHED {
  display: block;
}

.game.NOT_STARTED #pause-game {
  display: none;
}

.game.admin.can-not-be-started .admin.start {
  display: none;
}

.game .admin, .game .non-admin {
  display: none;
}

.game.admin .admin, .game.non-admin .non-admin {
  display: block;
}

.game .active-player, .game .player {
  display: none;
}

.game.active-player .active-player, .game.player .player {
  display: block;
}

.game .paused-overlay {
  display: none;
}

.game.paused .paused-overlay {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  color: white;
  align-items: center;
  justify-content: center;
}