* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html, body {
  background-color: #0a5f65;
  background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23004348' fill-opacity='0.6' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
  min-height: 100vh;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: #004348;
  font-size: 24px;
}

p {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 0.75rem;
  font-size: 0.8rem;
}

body {
  display: flex;
  justify-content: center;
}

.game-container {
  max-width: 800px;
  background-color: #DDFDFF;
  padding: 1rem;
  margin: 0.25rem;
}

ul {
  list-style: none;
}

.start-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p.stats {
  margin-bottom: 0.25rem;
}

p.stats b {
  font-size: 16px;
  margin-right: 0.25rem;
  min-width: 90px;
  display: inline-block;
  text-align: right;
}

p.stats span {
  min-width: 60px;
  font-family: 'Boogaloo', cursive;
  display: inline-block;
  text-align: left;
}

h1 {
  font-size: 2.25rem;
  text-align: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

.highlight {
  font-family: 'Boogaloo', cursive;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.75rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

button {
  font-family: 'Boogaloo', cursive;
  background-color:  #068890;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  position: relative;
  padding: 10px 20px;
  margin: 0px 0px 10px 0px;
  border-radius: 10px;
  color: #DDFDFF;
  cursor: pointer;
  border-bottom: 5px solid #156267;
  text-shadow: 0px -2px #156267;
  font-size: 1rem;
}

button.large {
  padding: 15px 30px;
  font-size: 1.25rem;
}

button:active {
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
  margin-bottom: 14px;
}

button:disabled {
  cursor: not-allowed;
  color: #ff7878;
  text-shadow: 0px -2px #380000;
  background-color: #500303;
  border-bottom: 5px solid #380000;
}

button:disabled:active {
  transform: translate(0px,0px);
  -webkit-transform: translate(0px,0px);
  border-bottom: 5px solid #380000;
  margin: 0px 0px 10px 0px;
}

input {
  font-family: 'Boogaloo', cursive;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  transform: translate(0px,2.5px);
  -webkit-transform: translate(0px,2.5px);
  font-size: 1rem;
}

.select-wrapper {
  position: relative;
  width: 200px;
  margin-bottom: 0.5rem;
}

.select-wrapper::before {
  color: #DDFDFF;
  font-size: 20px;
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 10px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: #068890 url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>") no-repeat;
  background-position: right 10px top 50%;
  border: none;
  border-radius: 10px;
  color: #DDFDFF;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 40px;
  outline: none;
  padding-left: 10px;
  width: 100%;
}

select option {
  background-color: #068890;
  color: #DDFDFF;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select:focus::-ms-value {
  background-color: transparent;
}

.disconnected {
  opacity: 0.5;
}